.Weather {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  padding: 20px;
  border: 1px solid teal;
  border-radius: 10px;

  margin: 30px auto;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: teal;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  color: rgb(92, 179, 174);
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.Weather .img {
  margin-right: 10px;
  height: 64 px;
  width: 64 px;
  display: inline-block;
}

.Weather .temperature {
  color: teal;
  font-size: 64px;
  font-weight: 400;
  line-height: 114px;
}

.Weather .unit {
  color: teal;
  font-size: 16px;
  font-weight: 400;
  top: -32px;
  position: relative;
  margin-left: 5px;
  line-height: 1;
}
